<!doctype html>
<html lang="en">
 <body>
    <h1>Here's our awesome gossip team</h1>
    <br>
    <br>

    <div class="row justify-content-center">
    <div class="card" style="width: 20rem;">
  <img src="images/mountain.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title h2">Donovan</h4>
    <p class="card-text"><span class="h5">Age : 70 years old</span></p>
    <p class="card-text"><span class="h5">City : Bali</span></p>
    <p class="card-text"><span class="h5">Email : donovan@donovan.de</span></p>
    <p class="card-text"><span class="h5">Description : XOXO's so fetch </span><br /></p>
  </div>
</div>
    <div class="card" style="width: 20rem;">
  <img src="images/holy.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title h2">XOXO Gossip</h4>
    <p class="card-text"><span class="h5">Age : 35 years young</span></p>
    <p class="card-text"><span class="h5">City : Rio de Janeiro</span></p>
    <p class="card-text"><span class="h5">Email : xoxo@gossip.com</span></p>
    <p class="card-text"><span class="h5">Description : What ever I feel like today Gosh!</span><br /></p>
  </div>
</div>
</div>
  </body>

</html>