<!doctype html>
<html lang="en">
 <body>
    <h1>Bienvenue sur la page de la Team du Gossip Project !</h1>
    <div class="row justify-content-center">

      <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
          <img src="images/mountain.png" alt=""
                width="300">
        </div>
        <div class="card-block px-2 mt-4 ml-3">
          <h4 class="card-title h2">Donovan</h4>
          <p class="card-text"><span class="h5">Age : 70 ans</span></p>
          <p class="card-text"><span class="h5">Ville : Bali</span></p>
          <p class="card-text"><span class="h5">Email : robert.redford@mapilule.net</span></p>
          <p class="card-text"><span class="h5">Description : J'aime le chocolat et les bananes flambées au rhum de Martinique!</span><br /></p>
          <a href="#" class="btn btn-info">Envoyer un petit mot doux</a>
          <div class="w-100"></div>
        </div>
      </div>
    </div>
    <span></span>

    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
          <img src="images/holy.png" alt="" width="300">
        </div>
        <div class="card-block px-2 mt-4 ml-3">
          <h4 class="card-title h2">XOXO Gossip</h4>
          <p class="card-text"><span class="h5">Age : 35 ans</span></p>
          <p class="card-text"><span class="h5">Ville : Rio de Janeiro</span></p>
          <p class="card-text"><span class="h5">Email : robert.redford@mapilule.net</span></p>
          <p class="card-text"><span class="h5">Description : J'adore les gossips!</span><br /></p>
          <a href="#" class="btn btn-info">Envoyer un petit mot doux</a>
          <div class="w-100"></div>
        </div>
      </div>
    </div>
  </body>

</html>